---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import StatStrip from "../components/StatStrip.astro";
import ClockOut from "../components/ClockOut.astro";
import Kinds from "../components/Kinds.astro";
import HowItWorks from "../components/HowItWorks.astro";
import PowerFeatures from "../components/PowerFeatures.astro";
import Agents from "../components/Agents.astro";
import Pairing from "../components/Pairing.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <StatStrip />
    <ClockOut />
    <Kinds />
    <HowItWorks />
    <PowerFeatures />
    <Agents />
    <Pairing />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
